<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
  <%- include('menu.html') %>

  <nav class="navbar navbar-expand-lg bg-body-tertiary"></nav>

  <h1>ํ ์๋๋ค</h1>

  <% if (user) { %>
    <h3>๋ฐ๊ฐ์ต๋๋ค. <%= user.userid %> ๋.</h3>
    <a href="/logout">๋ก๊ทธ์์</a>
  <% } else { %>
    <h3>๋ก๊ทธ์ธ ํด์ฃผ์ธ์.</h3>
    <p></p>
    <button class="w-100 btn btn-warning login"><b>๋ก๊ทธ์ธ</b></button>
    <p></p>
    <button class="w-100 btn btn-outline-success signup"><b>ํ์๊ฐ์</b></button>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    $('.login').click(function(e) {
      location.href = "/login"; // ๐ฅ ์คํ ์์
    });
    $('.signup').click(function(e) {
      location.href = "/signup"; // ๐ฅ ์คํ ์์
    });
  </script>
</body>
</html>
